.background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background img{
    width: auto;
    max-width: 85vw;
    height: auto;
    max-height: 100vh;
}

@media (max-width: 768px){
    .background img{
        width: 100%;
        max-width: 100vh;
    }
    .close{
        width: auto !important;
    }
}

.close{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.loaderContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}