@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "Gotham-bold";
  src: url("/fonts/gotham_bold-webfont.woff"),
    url("/fonts/gotham_bold-webfont.woff2");
}
@font-face {
  font-family: "Gotham-book";
  src: url("/fonts/gotham_book-webfont.woff"),
    url("/fonts/gotham_book-webfont.woff2");
}
:root {
  --color-yellow: #fcd702;
  --color-black: #2e2d31;
  --colog-grey-ligth: #f5f5f5;
  --header-background: #fff;
  --text-color: #262b36;
  --background-color: #fff;

  /* Margenes */
  --m1: 8px;
  --m2: 16px;
  --m3: 24px;
  --m4: 32px;
  --m5: 40px;
  --m6: 48px;
  --m7: 56px;
  --m8: 64px;
  --m9: 72px;
  --m10: 80px;
}

html[data-theme="dark"] {
  --header-background: #000000;
  --color-black: #fff;
  --colog-grey-ligth: #000000;
  --text-color: #fff;
  --background-color: #2e2d31;
}

body {
  background-color: var(--background-color) !important;
  color: var(--color-black) !important;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 17px;
}

h1 {
  font-family: "Gotham-bold", sans-serif !important;
  font-size: 27px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 120% !important; /* 32.4px */
  letter-spacing: -0.162px !important;
}

h2 {
  font-family: "Mulish", sans-serif !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 500 !important;
}

h3 {
  font-family: "Gotham-bold", sans-serif !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important; /* 32.4px */
  letter-spacing: -0.48px !important;
}

h4 {
  font-family: "Gotham-bold", sans-serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  line-height: 21px !important;
  font-weight: 700 !important;
}

h5 {
  font-family: "Mulish", sans-serif !important;
  font-size: 14px !important;
  font-style: normal !important;
  line-height: 27px !important;
}

h6 {
  font-family: "Mulish", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

ul {
  list-style: none !important;
  padding: 0 !important;
}

.linkPerfil {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

.linkPerfil:hover {
  cursor: pointer;
}

/******************Header*/
#mainNav {
  margin: 0 0 75px 0;
  position: sticky;
  top: 0;
  padding: 17px 0;
  z-index: 999;
}
#mainNav #searchForm,
#mainNavNoMargin #searchForm {
  margin-top: 0 !important;
  position: relative;
}
#mainNav #searchButton,
#mainNavNoMargin #searchButton
 {
  background-color: transparent !important;
}
#mainNav #searchButton.active,
#mainNavNoMargin #searchButton.active
 {
  background-color: var(--color-yellow) !important;
}

#mainNav #searchForm .searchContainer,
#mainNavNoMargin #searchForm .searchContainer
 {
  position: absolute;
  top: 100%;
  background-color: var(--background-color);
  padding: 20px 0px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

#mainNav #searchForm .searchContainer li,
#mainNavNoMargin #searchForm .searchContainer li {
  cursor: pointer;
  padding: 10px 30px;
  list-style: none !important;
}
#mainNav #searchForm .searchContainer li:hover,
#mainNavNoMargin #searchForm .searchContainer li:hover {
  background-color: #f5f5f5 !important;
}
#mainNav #searchForm .searchContainer li a,
#mainNavNoMargin #searchForm .searchContainer li a {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  #mainNav .container,
  #mainNavNoMargin .container {
    flex-direction: column !important;
    gap: 15px !important;
  }
}

#mainNavNoMargin {
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 17px 0;
}

#mainNav a,
#mainNavNoMargin a {
  color: var(--text-color);
}

.navbar-brand {
  color: var(--text-color);
}

.navbar-brand img {
  border-right: 2px solid var(--text-color);
  padding: 0 25px 0 0;
  margin: 0 25px 0 0;
}

nav.bg-body-tertiary.navbar.navbar-expand.navbar-light {
  background-color: var(--header-background) !important;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.07);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #fff;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--color-yellow);
  width: 22px;
  height: 22px;

  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.switchTheme {
  margin-left: 40px;
}

/******************Featured News*/

#featuredNews h6,
#featuredNews h1,
#listBlog h6,
#listBlog h1 {
  margin: 0 0 15px 0;
}

#listBlog h4 {
  margin-bottom: 30px;
}

#featuredNews {
  padding-top: 10px;
  transition: all 150ms ease-in-out;
  box-shadow: none;
}

#featuredNews h1:hover,
#featuredNews img:hover {
  cursor: pointer;
}

.textContent {
  margin: 25px 0 0 0 !important;
}

/********************List Blog*/

#listBlog {
  margin-top: 80px !important;
}

.seeMoreButton {
  border-bottom: 1px dashed var(--text-color);
  margin-bottom: 80px !important;
  padding-bottom: 50px;
}

.seeMoreButton button {
  width: max-content;
  padding: 5px !important;
  text-align: center !important;
  padding: 10px 50px !important;
  border-radius: 10px !important;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.04) !important;
  background-color: transparent !important;
  color: var(--color-black) !important;
  border: 2px solid var(--color-black) !important;
  margin-top: 50px !important;
}

.seeMoreButton button:hover {
  background-color: var(--color-yellow) !important;
  color: var(--color-black) !important;
  border: 2px solid var(--color-yellow) !important;
}

.blogItem {
  margin-bottom: 50px;
  padding-top: 10px;
  transition: all 150ms ease-in-out;
  box-shadow: none;
}

.blogItem h1:hover {
  cursor: pointer;
}

.blogItem img:hover {
  cursor: pointer;
}

/***Paginador*/

.pageNumber {
  text-align: center;
}

.oldNews {
  text-align: right;
}

.fa-caret-right:hover,
.fa-caret-left:hover {
  cursor: pointer;
}

/* .page-link {
  background-color: var(--color-yellow)!important;
} */

.page-link {
  color: var(--text-color) !important;
}

.page-link:hover {
  background-color: var(--color-yellow) !important;
}

.active > .page-link,
.page-link.active {
  background-color: var(--text-color) !important;
  border-color: var(--text-color) !important;
  color: var(--colog-grey-ligth) !important;
}

/**************************Full New*/

.breadcrumb-item a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}
.breadcrumb-item.active {
  width: 65%;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .breadcrumb-item a {
    font-size: 12px;
  }
}

#fullNew{
  margin-bottom: 72px !important;
}

#fullNew h1 {
  font-size: 68px !important;
}

#fullNew h6 {
  margin-top: 65px !important;
}

.contentDate {
  margin-top: 30px;
}

.newsContent {
  margin-top: 40px;
}
#newsContent ul {
  list-style: disc !important;
  padding-left: 36px !important;
}
#newsContent img {
  cursor: pointer;
}

/* FRAGMENTOS DE CODIGO */
#newsContent pre{
  background-color: #F9F9F9;
  padding: 20px;
  border: 1px solid rgb(229, 229, 229);
  color: #828282;
}
#newsContent pre:hover{
  cursor: pointer;
  color: #4c4c4c;
}
.title {
  margin-bottom: var(--m3) !important;
}

#dateContent {
  margin-top: var(--m6) !important;
}

.outstandingImg {
  margin-top: var(--m8) !important;
  margin-bottom: var(--m6) !important;
}

blockquote {
  margin: 0 0 1rem;
  padding-left: 23px;
  box-shadow: rgb(36, 36, 36) 3px 0px 0px 0px inset;
  font-weight: bold;
}

#newsContent h1,
#newsContent p {
  line-height: 180% !important;
}
#newsContent h1,
#downloadPdf h1 {
  font-size: 24px !important;
  font-style: normal;
  font-weight: normal;
  margin-top: 100px !important;
  margin-bottom: 40px !important;
}
#newsContent h1,
#newsContent h2,
#newsContent h4,
#newsContent h3 {
  line-height: 120% !important;
  font-size: 24px !important;
  margin-top: 100px !important;
  margin-bottom: 40px !important;
}

#downloadPdf h1 {
  color: var(--colog-grey-ligth);
  font-family: "Mulish", sans-serif !important;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 1);
  margin: 50px 0 !important;
}

#downloadPdf p {
  color: var(--colog-grey-ligth);
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 1);
}

#newsContent img {
  margin: var(--m4) 0;
  width: 100% !important;
}

.sharedLinks img {
  margin-left: 4%;
  width: 40px;
  filter: opacity(50%);
  transition: 0.4s;
}

.sharedLinks img:hover {
  cursor: pointer;
  filter: opacity(100%);
}

.sharedLinks {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 35px 0 !important;
  margin-top: 60px !important;
}

.sharedLinks.mobile {
  display: none;
  position: relative;
  gap: 6%;
  align-items: center;
  justify-content: center;
}

.more-options-container {
  position: relative;
}

.sharedLinks.mobile .more-options {
  transition: all 0.4s ease-in;
  display: grid;
  gap: 10px;
  position: absolute;
  top: 90%;
  left: 0%;
}

.sharedLinks.mobile .more-options.no-visible {
  z-index: -10;
  opacity: 0;
  top: -300%;
}

.sharedLinks.mobile .more-options.visible {
  opacity: 1;
  top: calc(-500% - 10px);
  z-index: 1;
}

#share {
  margin-bottom: 72px;
}
#share p {
  padding: 0;
  margin: 0;
}

#formNews input:focus,
#formNews select:focus {
  outline: none !important;
  box-shadow: none;
}
#formNews {
  margin-top: 120px !important;
}
#formNews .phone .prefix {
  border-radius: 4px 0 0 4px !important;
  background-color: #e2e2e2 !important;
}
#formNews .phone input {
  border-radius: 0 4px 4px 0 !important;
}

#headerFormNews {
  border-radius: 20px 20px 0 0 !important;
  background-size: cover;
  padding-bottom: 20px !important;
}

.formField {
  border-radius: 4px !important;
  background-color: #f6f6f6 !important;
  border: none !important;
  margin-top: 20px !important;
  font-family: "Gotham-book", sans-serif;
}

.alert {
  padding: 0 !important;
  font-size: 12px !important;
  background-color: transparent !important;
  border: none !important;
  margin-top: 5px !important;
}
.alert.alert-success {
  margin: 10px !important;
  margin-top: 30px !important;
  color: var(--color-black) !important;
  font-size: 20px !important;
  font-weight: 500;
  text-align: center !important;
}

#sendForm {
  padding: 5px !important;
  text-align: center !important;
  padding: 10px 50px !important;
  border-radius: 10px !important;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.04) !important;
  background-color: var(--color-black) !important;
  color: var(--colog-grey-ligth) !important;
  border: none !important;
  margin-top: 50px !important;
}

#sendForm:hover {
  background-color: var(--color-yellow) !important;
  color: var(--color-black) !important;
}

/************************News List*/

.newsList {
  margin-bottom: 50px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
}

/********************Search*/

#searchForm {
  display: flex;
  margin-top: 50px;
}

#searchKeyword {
  border-radius: 50px 0 0 50px;
  background-color: #f1f7f8;
  border: none;
}
#searchKeyword:focus {
  box-shadow: none;
}

#searchButton {
  border-radius: 0 50px 50px 0;
  background-color: var(--color-yellow);
  border: none;
  color: var(--color-black);
}

.resultNotFound {
  margin-top: 50px !important;
}

/**********************************************************webinars*/

#headerWebinar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-top: 48px !important;
  padding-bottom: 320px !important;
}

#headerWebinar h1 {
  font-size: 68px !important;
  margin-bottom: 10px !important;
  line-height: 100% !important;
  letter-spacing: -1.8px !important;
}
#headerWebinar h1:first-of-type {
  margin: 0;
}
#headerWebinar h1,
#headerWebinar p {
  max-width: 80%;
}

#headerWebinar .breadcrumb {
  margin-bottom: 120px !important;
}

@media (max-width: 768px) {
  #headerWebinar {
    background-position: center;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
  }
  #headerWebinar h1 {
    font-size: 42px !important;
  }
  #headerWebinar h1,
  #headerWebinar p {
    max-width: 100%;
  }
  #headerWebinar .breadcrumb {
    margin-bottom: 60px !important;
  }
}

#contentDate {
  margin-top: 30px !important ;
}

.participateButton .btn-primary {
  font-family: "Gotham-bold", sans-serif;
  font-size: 24px !important;
  padding: 5px !important;
  text-align: center !important;
  padding: 10px 50px !important;
  border-radius: 10px !important;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.04) !important;
  background-color: var(--btnHeader-backgroundColor) !important;
  color: var(--btnHeader-color) !important;
  border: none !important;
  margin-top: 50px !important;
  width: 80%;
}

.participateButton .btn-primary:hover {
  background-color: var(--hover-backgroundColor) !important;
  color: var(--hover-color) !important;
}

@media (max-width: 1366px) {
  .participateButton .btn-primary {
    width: 100%;
    padding: 10px 20px !important;
  }
}

#description {
  margin-top: 100px;
}
#description h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 27px !important;
}
#description ul {
  list-style: disc !important;
  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

#description li {
  color: var(--color-black);
  font-family: "Mulish", sans-serif;
  font-size: 26px !important;
  font-weight: 300;
  line-height: 145%; /* 37.7px */
  width: 75%;
  text-align: start;
}
#description .prewebinar img {
  width: 90%;
  margin-top: 90px;
}

#description img {
  margin: 30px 0;
  width: auto;
}

#description p {
  margin-bottom: 50px;
}
#description .prewebinar p:last-child {
  text-align: center;
}

#speakers {
  margin-top: 100px !important;
}

#speakersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#speakers h2 {
  font-family: "Gotham-bold", sans-serif !important;
  font-size: 21px !important;
  font-style: normal;
  line-height: 120% !important;
  letter-spacing: -0.42px !important;
  margin-top: 25px;
  font-weight: 700 !important;
}

#speakers h3 {
  font-family: "Gotham-book", sans-serif !important;
  font-size: 19px !important;
  font-weight: 300 !important;
  line-height: 130% !important;
  text-wrap: nowrap !important;
}

#speakers h4 {
  font-size: 24px !important;
  font-style: normal;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  #speakers .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #speakers .row > * {
    max-width: max-content;
  }
  #speakers .row img {
    max-width: 150px;
  }
  #speakersContainer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  #speakers h3 {
    font-size: 15px !important;
    text-wrap: wrap !important;
  }
}

#cta {
  background-size: cover;
  background-color: var(--text-color);
  text-align: center;
  padding: 70px 50px !important;
  margin-top: 100px;
}

#cta h2 {
  font-family: "Gotham-bold", sans-serif !important;
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 120% !important;
  letter-spacing: -1px !important;
}

#postWebinar {
  margin-top: 100px !important;
}

#postWebinar h1 {
  text-align: center;
  color: #2e2d31;
  font-size: 48px !important;
  font-weight: 700;
  letter-spacing: -0.96px;
}

#postWebinar iframe {
  border-radius: 20px !important;
  margin-top: 70px !important;
}

#postWebinar button {
  font-family: "Gotham-bold", sans-serif;
  font-size: 22px !important;
  padding: 5px !important;
  text-align: center !important;
  padding: 10px 50px !important;
  border-radius: 10px !important;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.04) !important;
  background-color: var(--color-black) !important;
  color: var(--colog-grey-ligth) !important;
  border: none !important;
  margin-top: 50px !important;
}

#postWebinar button:hover {
  background-color: var(--hover-color) !important;
}

#downloadPdfWebinar {
  background-color: var(--colog-grey-ligth);
  margin-top: 100px !important;
  padding: 25px 50px !important;
}

#downloadPdfWebinar h1 {
  text-align: left !important;
  font-size: 36px !important;
}

#moreInfo {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 55px 0px rgba(0, 0, 0, 0.08);
  margin-top: 160px;
  padding: 50px 0;
}
#moreInfo .personalSection {
  font-family: "Mulish", sans-serif;
}
#moreInfo .personalSection p,
#moreInfo .personalSection h3 {
  margin: 0 !important;
}
#moreInfo .personalSection h3,
#moreInfo .personalSection span {
  color: #444;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
#moreInfo .personalSection span {
  font-weight: 400;
}
#moreInfo .personalSection p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

#formDownloadWebinars {
  display: grid;
  justify-items: center;
  padding: 0 30px;
}

#floatingLogo {
  position: absolute;
  top: calc(100% - 350px);
  left: calc(100% - 250px);
}
#floatingLogo img {
  width: 180px;
}

@media (max-width: 768px) {
  #floatingLogo {
    position: relative;
    display: grid;
    justify-content: center;
    margin: 50px 0;
    top: 0;
    left: 0;
  }
}

.modalTitle {
  background-size: cover !important;
  background-position: center !important;
  font-family: "Gotham-bold", sans-serif !important;
  text-align: center;
  font-size: 27px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  padding-top: 100px !important;
  color: #fff;
}

.modalTitle img {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 5%;
}

@media (max-width: 766px) {
  #fullNew h1 {
    font-size: 42px !important;
  }

  #newsContent h1,
  #downloadPdf h1 {
    font-size: 24px !important;
  }

  .outstandingImg {
    margin-bottom: 0 !important;
  }

  #dateContent {
    margin-top: 0 !important;
  }

  #dateContent .col-md-10 {
    margin-top: 30px !important;
  }

  #subFooter,
  .text-right {
    text-align: center;
  }

  .sharedLinks {
    display: none;
  }

  .sharedLinks.mobile {
    display: flex;
  }
}
