@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gotham-bold";
    src: url("/Gotham-Font/gotham_bold-webfont.woff"),
      url("/Gotham-Font/gotham_bold-webfont.woff2"),
      url("/Gotham-Font/Gotham-Bold.otf"),
      url("/Gotham-Font/GothamBold.ttf");
  }
  @font-face {
    font-family: "Gotham-book";
    src: url("/Gotham-Font/gotham_book-webfont.woff"),
      url("/Gotham-Font/gotham_book-webfont.woff2"),
      url("/Gotham-Font/GothamBook.ttf");
  }
}

:root {
  --color-yellow: #fcd702;
  --color-black: #2e2d31;
  --colog-grey-ligth: #f5f5f5;
  --header-background: #fff;
  --text-color: #262b36;
  --background-color: #fff;

  /* Margenes */
  --m1: 8px;
  --m2: 16px;
  --m3: 24px;
  --m4: 32px;
  --m5: 40px;
  --m6: 48px;
  --m7: 56px;
  --m8: 64px;
  --m9: 72px;
  --m10: 80px;
}

html[data-theme="dark"] {
  --header-background: #000000;
  --color-black: #fff;
  --colog-grey-ligth: #000000;
  --text-color: #fff;
  --background-color: #2e2d31;
}

body {
  background-color: var(--background-color);
  color: var(--color-black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 17px;
}

h1 {
  font-family: "Gotham-bold", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 32.4px */
  letter-spacing: -0.162px;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-family: "Gotham-bold", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 32.4px */
  letter-spacing: -0.48px;
}

h4 {
  font-family: "Gotham-bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-weight: 700;
}

h5 {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 27px;
}

h6 {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  outline: none;
}

[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked + .app .toggle {
  transform: translateX(100%);
  background: linear-gradient(180deg, #434247 0%, #000000 100%);
}

[type="checkbox"]:checked + .app .espanol {
  color: white;
  padding-left: 17px;
}

[type="checkbox"]:checked + .app .english {
  color: #737373;
  padding-left: 1px;
}

/* PAGE NOT FOUND */
.page404{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}